In [61]:
import numpy as np
import pandas as pd

In [62]:
df = pd.read_csv("Richter.csv")

In [63]:
df.describe()

           Latitude     Longitude  ...  Horizontal Error  Root Mean Square
count  23412.000000  23412.000000  ...       1156.000000      17352.000000
mean       1.679033     39.639961  ...          7.662759          1.022784
std       30.113183    125.511959  ...         10.430396          0.188545
min      -77.080000   -179.997000  ...          0.085000          0.000000
25%      -18.653000    -76.349750  ...          5.300000          0.900000
50%       -3.568500    103.982000  ...          6.700000          1.000000
75%       26.190750    145.026250  ...          8.100000          1.130000
max       86.005000    179.998000  ...         99.000000          3.440000

[8 rows x 12 columns]

In [64]:
df.head()

         Date      Time  Latitude  ...  Location Source Magnitude Source     Status
0  01/02/1965  13:44:18    19.246  ...           ISCGEM           ISCGEM  Automatic
1  01/04/1965  11:29:49     1.863  ...           ISCGEM           ISCGEM  Automatic
2  01/05/1965  18:05:58   -20.579  ...           ISCGEM           ISCGEM  Automatic
3  01/08/1965  18:49:43   -59.076  ...           ISCGEM           ISCGEM  Automatic
4  01/09/1965  13:32:50    11.938  ...           ISCGEM           ISCGEM  Automatic

[5 rows x 21 columns]

In [58]:

df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

In [65]:
df = df[['Latitude', 'Longitude', 'Magnitude']]
df = pd.get_dummies(df)
df.head()

   Latitude  Longitude  Magnitude
0    19.246    145.616        6.0
1     1.863    127.352        5.8
2   -20.579   -173.972        6.2
3   -59.076    -23.557        5.8
4    11.938    126.427        5.8

In [15]:
df.dtypes

Latitude     float64
Longitude    float64
Magnitude    float64
dtype: object

In [20]:
# split a dataset into train and test sets
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
# create dataset
X, y = make_blobs(n_samples=1000)
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(670, 2) (330, 2) (670,) (330,)

In [21]:

# demonstrate that the train-test split procedure is repeatable
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
# create dataset
X, y = make_blobs(n_samples=100)
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# summarize first 5 rows
print(X_train[:5, :])
# split again, and we should see the same split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# summarize first 5 rows
print(X_train[:5, :])

from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
# create dataset
X, y = make_blobs(n_samples=100)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
print(X_train[:5, :])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# summarize first 5 rows
print(X_train[:5, :])

[[5.05445427 2.67989248]
 [5.42107704 5.90786642]
 [2.30566265 1.2350998 ]
 [4.9856097  3.22099723]
 [2.64287733 0.21834633]]
[[5.05445427 2.67989248]
 [5.42107704 5.90786642]
 [2.30566265 1.2350998 ]
 [4.9856097  3.22099723]
 [2.64287733 0.21834633]]
[[-6.06773589  6.58892645]
 [-4.43342718  3.80238801]
 [-3.77416212 -6.28545186]
 [-0.20235868 -1.03373842]
 [-3.73903292  4.84690293]]
[[-6.06773589  6.58892645]
 [-4.43342718  3.80238801]
 [-3.77416212 -6.28545186]
 [-0.20235868 -1.03373842]
 [-3.73903292  4.84690293]]

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pickle
import numpy as np
import pandas as pd


      #ura = self.get_angle(tl[0], tr[0], br[0])
      #ula = self.get_angle(bl[0], tl[0], tr[0])
      # #lra = self.get_angle(tr[0], br[0], bl[0])
      #lla = self.get_angle(br[0], bl[0], tl[0])



y = df['Magnitude']


X = df.drop(['Magnitude'], axis=1) 
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)

accuracy = accuracy_score(y_test, pred)
print("accuracy: " + str(accuracy * 100) + "%")


#output = classifier.predict([[name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11]])

ValueError: ignored

In [50]:
import numpy as np
from sklearn                        import metrics, svm
from sklearn.linear_model           import LinearRegression
from sklearn.linear_model           import LogisticRegression
from sklearn.tree                   import DecisionTreeClassifier
from sklearn.neighbors              import KNeighborsClassifier
from sklearn.discriminant_analysis  import LinearDiscriminantAnalysis
from sklearn.naive_bayes            import GaussianNB
from sklearn.svm                    import SVC



clf = LinearRegression()
clf.fit(X_train, y_train)
print("LinearRegression")
print(clf.predict(X_test))

clf = svm.SVR()
clf.fit(X_train, y_train)
print("SVM")
print(clf.predict(X_test))


clf = LinearDiscriminantAnalysis()
clf.fit(X_train, y_train)
print("LDA")
print(clf.predict(X_test))

clf = GaussianNB()
clf.fit(X_train, y_train)
print("Gaussian")
print(clf.predict(X_test))

clf = SVC()
clf.fit(X_train, y_train)
print("SVC")
print(clf.predict(X_test))

LinearRegression
[ 8.48519178e-01  9.00675977e-01  2.02667991e+00 -7.35790133e-02
  2.10393514e+00 -3.60743819e-01  1.16520356e+00 -1.87028624e-01
  2.00517912e+00  8.32690524e-01  1.94929312e-01  1.04454601e+00
  7.42541932e-02  2.15562015e+00  1.05023540e+00  3.86428835e-04
 -7.91341876e-02  2.10670646e+00  1.78958654e+00 -2.08080857e-01
  1.01653588e-01  1.96870183e+00  1.88855619e+00  1.03975201e+00
 -1.36432728e-01  2.09900140e+00  2.18467527e-01  1.94157219e+00
  9.05138397e-01  1.94192048e+00  4.08934488e-01 -1.21832851e-02
 -1.18026925e-01]
SVM
[ 0.96131348  0.97445311  2.09054822  0.03364349  2.03453179  0.08107268
  1.0266772   0.05126793  1.98275808  0.96954399  0.02329728  0.92389788
 -0.00678628  2.06496923  0.90411474 -0.04516405  0.04278606  2.07305884
  2.00829413 -0.01152785  0.36975567  2.07669475  2.05936705  0.94670359
 -0.02129448  2.08003217  0.04172996  2.07924238  0.96263911  2.04185075
  0.21861292 -0.00436802  0.02855707]
LDA
[1 1 2 0 2 0 1 0 2 1 0 1 0 2 1 0 0 2 2 0 0 2 2 1 0 2 0 2 1 2 0 0 0]
Gaussian
[1 1 2 0 2 0 1 0 2 1 0 1 0 2 1 0 0 2 2 0 0 2 2 1 0 2 0 2 1 2 0 0 0]
SVC
[1 1 2 0 2 0 1 0 2 1 0 1 0 2 1 0 0 2 2 0 0 2 2 1 0 2 0 2 1 2 0 0 0]

In [33]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'actual': y_test, 'result': y_pred})
print(df)

    actual    result
0        1  0.848519
1        1  0.900676
2        2  2.026680
3        0 -0.073579
4        2  2.103935
5        0 -0.360744
6        1  1.165204
7        0 -0.187029
8        2  2.005179
9        1  0.832691
10       0  0.194929
11       1  1.044546
12       0  0.074254
13       2  2.155620
14       1  1.050235
15       0  0.000386
16       0 -0.079134
17       2  2.106706
18       2  1.789587
19       0 -0.208081
20       0  0.101654
21       2  1.968702
22       2  1.888556
23       1  1.039752
24       0 -0.136433
25       2  2.099001
26       0  0.218468
27       2  1.941572
28       1  0.905138
29       2  1.941920
30       0  0.408934
31       0 -0.012183
32       0 -0.118027

In [31]:
import sklearn
from sklearn import svm
regressor = sklearn.svm.SVC()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'actual ': y_test, 'result': y_pred})
(df)

    actual   result
0         1       1
1         1       1
2         2       2
3         0       0
4         2       2
5         0       0
6         1       1
7         0       0
8         2       2
9         1       1
10        0       0
11        1       1
12        0       0
13        2       2
14        1       1
15        0       0
16        0       0
17        2       2
18        2       2
19        0       0
20        0       0
21        2       2
22        2       2
23        1       1
24        0       0
25        2       2
26        0       0
27        2       2
28        1       1
29        2       2
30        0       0
31        0       0
32        0       0

In [67]:
from joblib import dump, load
dump(regressor, 'earthquake.joblib')

['earthquake.joblib']