In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("landslide.csv")

In [6]:
data.head()

    I_D HAPPENED  ...  TOTAL_HOUSES_DAMAGED  TOTAL_HOUSES_DAMAGED_DESCRIPTION
0     1       No  ...                   NaN                               NaN
1     2      Yes  ...                   NaN                               NaN
2     3       No  ...                   NaN                               NaN
3  5877      Yes  ...                   NaN                               NaN
4     8       No  ...                   NaN                               NaN

[5 rows x 47 columns]

In [27]:
data = data[['HAPPENED', 'MONTH', 'DAY', 'LATITUDE', 'LONGITUDE', 'DEATHS']]
data.head()

    HAPPENED  MONTH   DAY LATITUDE LONGITUDE    DEATHS
33         0    2.0  22.0     33.8     105.6     760.0
35         0    6.0   1.0     36.3       119    6000.0
73         1   12.0  13.0     36.1      36.1  260000.0
115        0   10.0  11.0     40.7      29.7    1000.0
143        0    5.0  21.0     39.4     113.3    5130.0

In [28]:
data = data.replace(to_replace= ['Yes','No'],value = ['1','0'])

In [30]:
data = data[data['HAPPENED'].notna()]
data = data[data['MONTH'].notna()]
data = data[data['DAY'].notna()]
data = data[data['LATITUDE'].notna()]
data = data[data['LONGITUDE'].notna()]
data = data[data['DEATHS'].notna()]

In [31]:
data.head()

    HAPPENED  MONTH   DAY LATITUDE LONGITUDE    DEATHS
33         0    2.0  22.0     33.8     105.6     760.0
35         0    6.0   1.0     36.3       119    6000.0
73         1   12.0  13.0     36.1      36.1  260000.0
115        0   10.0  11.0     40.7      29.7    1000.0
143        0    5.0  21.0     39.4     113.3    5130.0

In [32]:
from sklearn.model_selection import train_test_split

X=data.drop('HAPPENED', axis=1)  
y=data.HAPPENED  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)


from sklearn.ensemble import RandomForestRegressor

classifier = RandomForestRegressor(n_estimators = 1000)

classifier.fit(X_train, y_train);

In [39]:
y_pred = classifier.predict(X_train)
import sklearn.metrics as metrics
z = float(metrics.mean_squared_error(y_train, y_pred))
print(z)

0.018014107013738248

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pickle
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
X = data.drop(['FATALITIES', 'INJURY_ESTIMATE'], axis=1) 
 
y = data['FATALITIES']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)

accuracy = accuracy_score(y_test, pred)
print("accuracy: " + str(accuracy * 100) + "%")

KeyError: ignored

In [41]:
from joblib import dump, load
dump(classifier, 'landslide.joblib')

['landslide.joblib']